@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --poppins-default: 'Poppins', sans-serif;
  --roboto-default: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html{
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
